/* ========== common ========== */
@font-face {
    font-family: gilroy-regular;
    src: url("../assets/Gilroy-Regular.ttf");
}

@font-face {
    font-family: gilroy-medium;
    src: url("../assets/Gilroy-Medium.ttf");
}

@font-face {
    font-family: gilroy-bold;
    src: url("../assets/Gilroy-Bold.ttf");
}

@font-face {
    font-family: gilroy-semi_bold;
    src: url("../assets/Gilroy-SemiBold.ttf");
}

@font-face {
    font-family: gilroy-extra_bold;
    src: url("../assets/Gilroy-ExtraBold.ttf");
}

:root {
    --color--deep--blue: #003459;
    --color--dark--blue: #002A48;
    --color--deeper--blue: #00171F;
    --color--deep--cream: #F7DBA7;
    --color--cream: #FAE6C3;
    --color--cream--light: #FCEED5;
    --color--white: #ffffff;
    --color--black: #000000;
    --color--grey: #667479;
    --color--light--grey: #99A2A5;
    --color--lighter--grey: #cacaca;
    --color--border: #ddd;
    --color--para--text: #242B33;
    --color--orange: #FFB775;
    --color--orange-light: #FEC792;
    --color--cyan: #00A7E6;
    --font--gilroy--regular: gilroy-regular, sans-serif;
    --font--gilroy--medium: gilroy-medium, sans-serif;
    --font--gilroy--bold: gilroy-bold, sans-serif;
    --font--gilroy--semi--bold: gilroy-semi_bold, sans-serif;
    --font--gilroy--extra--bold: gilroy-extra_bold, sans-serif;
}
.row {
    align-items: start;
}

/* ========== navigator section ==========*/
.navigator_section {
    margin-top: 30px;
    margin-bottom: 0;
}
ul.navigator {
    display: flex;
    align-items: center;
    gap: 10px;
}
ul.navigator li a {
    font-size: 16px;
    font-family: var(--font--gilroy--medium);
    color: var(--color--grey);
}
ul.navigator li i {
    font-size: 12px;
    color: var(--color--grey);
}

/* ========== product details ========== */
.product_details .container.row {
    padding: 15px;
    border: 1px solid var(--color--border);
    border-radius: 15px;
    outline: none;
    margin-top: 30px;
}
.slider {
    width: 48%;
}
.details {
    width: 48%;
}
.slider_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    margin: 0 auto;
    gap: 10px;
}
.slider_image {
    width: 100%;
    height: 500px;
    position: relative;
}
.slider_image button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid var(--color--light--grey);
}
.slider_image .btn_prev {
    left: 10px;
}
.slider_image .btn_next {
    right: 10px;
}
.slider_image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.navigator_images {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    overflow: auto;
}
.navigator_images img {
    width: 20%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    object-fit: cover;
}
/* ------------------------------- */
.guarantee_badge {
    display: flex;
    background-color: var(--color--cream);
    padding: 10px;
    gap: 15px;
    border-radius: 10px;
    margin-top: 25px;
}
.guarantee_badge .badge_1, .guarantee_badge .badge_2 {
    display: flex;
    align-items: center;
    gap: 5px;
}
.guarantee_badge .badge_1 img, .guarantee_badge .badge_2 img {
    width: 30px;
}
.guarantee_badge .badge_1 p, .guarantee_badge .badge_2 p {
    font-size: 16px;
    font-family: var(--font--gilroy--bold);
    color: var(--color--deep--blue);
}
.share_links {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
}
.share_links li a {
    padding: 10px;
    color: var(--color--grey);
    transition: .3s;
}
.share_links li a:hover {
    padding: 10px;
    color: var(--color--deep--blue);
}
.share_links li a i {
    font-size: 20px;
}
.share_links li:first-child {
    display: flex;
    gap: 5px;
}
.share_links li p {
    font-size: 16px;
    font-family: var(--font--gilroy--bold);
    color: var(--color--deep--blue);
}
.share_links li span {
    font-size: 24px;
    color: var(--color--deep--blue);
}
/* --------------------------------------- */
.product_info .sku {
    font-size: 16px;
    font-family: 'gilroy-medium';
    color: var(--color--grey);
    margin-top: 10px;
}
.product_info .title {
    font-size: 24px;
    font-family: 'gilroy-bold';
    color: var(--color--black);
    text-transform: capitalize;
    margin-top: 10px;
}
.product_info .price_card {
    font-size: 20px;
    font-family: 'gilroy-bold';
    text-transform: uppercase;
    margin-top: 10px;
    color: var(--color--deep--blue);
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: var(--font--gilroy--medium);
    color: var(--color--grey);
    margin-top: 25px;
    margin-bottom: 10px;
}
tr {
    vertical-align: top;
}
th, td {
    padding: 10px 0px;
    text-align: left;
    border-bottom: 1px solid var(--color--border);
}

/* ========== customer ========== */
.customer .customer_title {
    font-size: 24px;
    color: var(--color--deep--blue);
    font-family: var(--font--gilroy--bold);
    text-transform: capitalize;
    margin-bottom: 10px;
}

#customer_slider {
    position: relative;
}
.slider_item.slick-slide {
    height: 400px;
    overflow: hidden;
}
.slider_item.slick-slide .item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 7px;
}
.slider_item .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
/* -------------------------------- */
.slick-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}
.slick-dots li {
    display: flex;
    width: 10px;
    height: 10px;
    background-color: var(--color--lighter--grey);
    border-radius: 100%;
    transition: .9s ease-in-out;
}
.slick-dots li.slick-active {
    background-color: var(--color--deep--blue);
}
.slick-dots li button {
    font-size: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}
/* --------------------------------- */
button.slick-prev.slick-arrow {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 25px;
    transform: translateY(-90%);
    width: 50px;
    height: 50px;
    border: 1px solid var(--color--deep--blue);
    color: var(--color--deep--blue);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: .3s;
}
button.slick-next.slick-arrow {
    position: absolute;
    z-index: 9;
    top: 50%;
    right: 25px;
    transform: translateY(-90%);
    width: 50px;
    height: 50px;
    border: 1px solid var(--color--deep--blue);
    color: var(--color--deep--blue);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: .3s;
}
button.slick-prev.slick-arrow:hover {
    background-color: var(--color--deep--blue);
    color: var(--color--cream);
}
button.slick-next.slick-arrow:hover {
    background-color: var(--color--deep--blue);
    color: var(--color--cream);
}
#customer_slider:hover button.slick-prev.slick-arrow {
    opacity: 1;
}
#customer_slider:hover button.slick-next.slick-arrow {
    opacity: 1;
}